* {
    margin: 0;
}

.body {
    
}

.header {
    width: 1440px;
    height: 350px;
    background: #2F2F2F;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.header__logo {

}

.header__title {
    margin-top: 82px;
    color: #1AFFD6;
    font-size: 48px;
    font-weight: 700;
    max-width: 448px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header__contacts-cont {
    margin-top: 82px;
    margin-right: 86px;
}